<!-- start widget -->
<section class="widget">
	<span><h5>Weekly Playlist</h5></span>
	<div id="podcasts" class="podcasts">
		<!-- Start of embed code -->

		<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ageometry9%3Aplaylist%3A4OzJfznaL87qYhkfnQq7fE" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

		<!-- Embed of embed code -->
	</div>
</section>
<!-- end widget -->
